body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #bc65d6, #eec4f2);
  font-family: Arial, sans-serif;
}

header {
  color: black;
  padding: 100px 0;
  text-align: center;
  width: 100%;
}

header h1 {
  font-size: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  gap: 20px; /* Add space between items */
  width: 80%; /* Adjust width to accommodate items */
  margin: 0 auto;
}

.employee-box, .book-box, .event-box, .viewevent-box, .reserv-box, .reserved-box, .returned-box {
  background-color: whitesmoke;
  color: black;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px; /* Fixed width for alignment */
  font-size: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
}

.employee-box:hover, .book-box:hover, .event-box:hover, .viewevent-box:hover, .reserv-box:hover, .reserved-box:hover, .returned-box:hover {
  background-color: #eec4f2;
  transform: scale(1.05) rotateX(5deg) rotateY(5deg);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.top-right-buttons {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.top-right-buttons a {
  background-color: whitesmoke;
  color: black;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 18px;
}

.top-right-buttons a:hover {
  background-color: #eec4f2;
}
